{% extends 'layout.html' %}

{% block title %}
    <title>Show Depts</title>
{% endblock %}

{% block search %}
    <div style="margin-right: 20px;" class="form-inline my-2 my-lg-0">
        <form action="{% url 'search_dept' %}" class="form-inline my-2 my-lg-0">
            <input type="text" name="dept_name" class="form-control mr-sm-2" autocomplete="off">
            <input type="submit" value="Search Dept." class="btn btn-success my-2 my-sm-0">
        </form>
    </div>         
{% endblock %}

{% block content %}
    <div class="container jumbotron">
    <h1 style="text-align: center;">Search Departments</h1>
    <br><br>
        {% if dept %}
            <table class="table table-striped table-hover">
                <tr class="thead-dark">
                    <th>Dept ID</th>
                    <th>Dept Name</th>
                    <th>Dept Intake</th>
                    <th>Update</th>
                    <th>Delete</th>
                </tr>
                    <tr>
                        <td>{{dept.id}}</td>
                        <td>{{dept.name}}</td>
                        <td>{{dept.intake}}</td>
                        <td><a href="{% url 'update_dept' dept.id %}"><button class="btn btn-warning">Update</button></a></td>
                        <td><a href="{% url 'delete_dept' dept.id %}"><button class="btn btn-danger">Delete</button></a></td>
                    </tr>
            </table>
            <!-- <br> -->
            <div style="text-align: center;">
                <a href="{% url 'retrive_dept' %}">
                    <button class="btn btn-primary">
                        All Departments
                    </button>
                </a>
            </div>
        {% else %}
            <h5>No such department found with name {{dept_name}}...</h5>
            <div style="text-align: center;">
                <a href="{% url 'retrive_dept' %}">
                    <button class="btn btn-primary">
                        All Departments
                    </button>
                </a>
            </div>
        {% endif %}
        
        <br><hr>
        <h1 style="text-align: center;">Professors in this Department</h1>
        {% if profs_list %}
            <table class="table table-striped table-hover">
                <tr class="thead-dark">
                    <th>Professor ID</th>
                    <th>Professor Name</th>
                    <th>Professor Salary</th>
                    <!-- <th>Update</th> -->
                    <!-- <th>Delete</th> -->
                </tr>
                {% for prof in profs_list %}
                    <tr>
                        <td>{{prof.id}}</td>
                        <td>{{prof.name}}</td>
                        <td>{{prof.salary}} LPA</td>
                        <!-- <td><a href="{% url 'update_prof' prof.id %}"><button class="btn btn-warning">Update</button></a></td> -->
                        <!-- <td><a href="{% url 'delete_prof' prof.id %}"><button class="btn btn-danger">Delete</button></a></td> -->
                    </tr>
                {% endfor %}
            </table>
        {% else %}
            <h5>No professors in this department yet...</h5>
            <div style="text-align: center;">
                <a href="{% url 'create_prof' %}">
                    <button class="btn btn-primary">
                        Add Professor
                    </button>
                </a>
            </div>
        {% endif %}

        <br><hr>
        <h1 style="text-align: center;">Students in this Department</h1>
        {% if studs_list %}
            <table class="table table-striped table-hover">
                <tr class="thead-dark">
                    <th>Roll No</th>
                    <th>Name</th>
                    <th>Marks</th>
                    <th>Department</th>
                    <!-- <th>Update</th> -->
                    <!-- <th>Delete</th> -->
                </tr>
                {% for stud in studs_list %}
                    <tr>
                        <td>{{stud.rn}}</td>
                        <td>{{stud.name}}</td>
                        <td>{{stud.marks}}</td>
                        <td>{{stud.dept}}</td>
                        <!-- <td><a href="{% url 'update_stud' stud.id %}"><button class="btn btn-warning">Update</button></a></td> -->
                        <!-- <td><a href="{% url 'delete_stud' stud.id %}"><button class="btn btn-danger">Delete</button></a></td> -->
                    </tr>
                {% endfor %}
            </table>
        {% else %}
            <h5>No students in this department yet...</h5>
            <div style="text-align: center;">
                <a href="{% url 'create_stud' %}">
                    <button class="btn btn-primary">
                        Add Student
                    </button>
                </a>
            </div>
        {% endif %}
    </div>
{% endblock %}
        