{% extends 'bootstrap441layout.html' %}
{% load crispy_forms_tags %}

{% block title %}
    <title>Reset Password</title>
{% endblock title %}

{% block content %}
    <div  class="container" style="width:40%; margin-top: 5%" >
        <div class="jumbotron">
            <form method="post">
                <h1 style="text-align: center">Set New Password</h1>
                <br><br>
                {% csrf_token %}

                {% if messages %}
                    {% for message in messages %}
                        <div class="alert alert-success">
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endif %}
                <p>Please enter your new password.</p>
                {{ form|crispy }}
                <br>
                <button type="submit" class="btn btn-primary mt-2">Change Password</button>
        </form>
        </div>

    </div>
{% endblock content %}
