{% extends 'layout.html' %}
{% load crispy_forms_tags %}

{% block title %}
    <title>Delete All Professors</title>
{% endblock %}

{% block content %}
    <div class="container" style="width: 60%;">
        <form method="POST" class="jumbotron">
            {% csrf_token %}
            <h5>Are you sure, you want to delete <b>ALL</b> professors?</h5>
            <h5>Please Note:- This action is NOT reversible.</h5>
            <br>
            <input type="submit" value="Delete All" class="btn btn-danger">
            <a href="{% url 'retrive_prof' %}">
                <input type="button" value="Cancel" class="btn btn-dark" style="margin-left: 10%;">
            </a> 
        </form>
    </div>
    
{% endblock %}