{% extends 'layout.html' %}
{% load crispy_forms_tags %}

{% block title %}
    <title>Dashboard - Student</title>
{% endblock %}

{% block content %}
    <div  class="container" style="width:40%;" >
        <div class="jumbotron">
            <form method="post">
                <h1 style="text-align: center">Student Login</h1>
                <br><br>
                {% csrf_token %}

                {% if messages %}
                        {% for message in messages %}
                            {% if message.tags == 'error' %}
                                <div class="alert alert-danger">
                            {% else %}
                                <div class="alert alert-{{ message.tags }}">
                            {% endif %}
                                    {{ message }}
                                </div>
                        {% endfor %}
                {% endif %}

                <div class="form-group">
                    <label for="uname">Enter Username:</label>
                    <input type="text" name="uname" id="uname" class="form-control">
                </div>
                <div class="form-group">
                    <label for="pw">Enter Password:</label>
                    <input type="password" name="pw" id="pw" class="form-control">
                </div>

                <br>
                <div class="form-row">
                    <div class="col-8">
                        <button type="submit" class="btn btn-primary mt-2">Login</button>
                    </div>
                    <div class="col">
                        <a href="">Need an account?</a>
                        <br>
                        <a href="">Forgot Password?</a>
                    </div>
                </div>
            
            </form>
        </div>

    </div>
    
{% endblock %}