{% extends 'layout.html' %}
{% load crispy_forms_tags %}

{% block title %}
    <title>Dashboard - Student</title>
{% endblock %}

{% block content %}
    <div class="container" style="width: 60%;">
        <div class="jumbotron">
            <h1>Welcome Student!</h1>
            <br><br>
            <a href="{% url 'my_subs_stud' %}"><button class="btn btn-info btn-lg">Check My Subjects</button></a>
            <a href="" style="float: right;"><button class="btn btn-info btn-lg">Check My Fees Status</button></a>
        </div>
    </div>
    
{% endblock %}