{% extends 'layout.html' %}
{% load crispy_forms_tags %}

{% block title %}
    <title>Change Password</title>
{% endblock title %}

{% block content %}
    <div  class="container" style="width:40%; margin-top: 5%" >
        <div class="jumbotron">
            <form method="post">
                <h1 style="text-align: center">Change Password</h1>
                <br><br>
                {% csrf_token %}

                {% if messages %}
                    {% for message in messages %}

                        {% if message.tags == 'error' %}
                            <div class="alert alert-danger">
                        {% else %}
                            <div class="alert alert-{{ message.tags }}">
                        {% endif %}

                                {{ message }}
                            </div>

                    {% endfor %}
                {% endif %}

                {{ form|crispy}}

                <button type="submit" class="btn btn-primary mt-2">Update Password</button>
            </form>
        </div>

    </div>
{% endblock content %}
