{% extends 'layout.html' %}
{% load crispy_forms_tags %}

{% block title %}
    <title>Change Password</title>
{% endblock title %}

{% block content %}
{#    <h5>Current Logged in user - {{ user }}</h5>#}
    <div  class="container" style="width:40%; margin-top: 5%" >
        <div class="jumbotron">
            <form method="post">
                <h1 style="text-align: center">Change Password</h1>
                <br><br>
                {% csrf_token %}

                {% if messages %}
                    {% for message in messages %}
                        <div class="alert alert-success">
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endif %}

                {{ form|crispy }}
                <!-- {% for field in form %}
                        <div>{{field.label_tag}} {{field}}  {{field.errors}}</div> <br>
                {% endfor %} -->
                <br>
                <button type="submit" class="btn btn-primary mt-2">Change Password</button>
        </form>
        </div>

    </div>
{% endblock content %}
