{% extends 'layout.html' %}
{% load crispy_forms_tags %}

{% block title %}
    <title>Password Changed</title>
{% endblock title %}

{% block content %}
    <div class="container">
        <div class="jumbotron">
            <h1>Password change successful</h1>
            <p>Your password was changed.</p>
            <a href="{% url 'home' %}">Go to home</a>
            <span style="float: right;">
                <a href="{% url 'logout' %}">LogOut</a>
            </span>
        </div>
    </div>

{% endblock content %}
