{% extends 'layout.html' %}
{% load crispy_forms_tags %}

{% block title %}
    <title>Reset Password</title>
{% endblock title %}

{% block content %}
    <div  class="container" style="width:40%; margin-top: 5%" >
        <div class="jumbotron">
            {% if messages %}
                {% for message in messages %}

                    {% if message.tags == 'error' %}
                        <div class="alert alert-danger">
                    {% else %}
                        <div class="alert alert-{{ message.tags }}">
                    {% endif %}

                        {{ message }}
                    </div>

                {% endfor %}
            {% endif %}
            <p>Password reset email sent!</p>
            <p>We’ve emailed you instructions for setting your password, if an account exists with the email you entered.
                You should receive them shortly. If you don’t receive an email, please make sure you’ve entered the
                address you registered with, and check your spam folder. </p>

            <a href="//mail.google.com/"><button class="btn btn-info">Check Email</button></a>
            <a href="{% url 'login' %}"><button class="btn btn-success">Log In</button></a>
        </div>

    </div>
{% endblock content %}
